<div class="content-panel">
  <div class="content px-4 py-2">
    <p class="h2">Rediger ordination</p>
    <form [formGroup]="editOrdinationForm">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Præparat:</span>
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="drug"
          readonly
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Mængde:</span>
        </div>
        <input type="text" class="form-control" formControlName="drugAmount" />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Enhed:</span>
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="drugUnit"
          readonly
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Startdato:</span>
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="startDate"
          readonly
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Slutdato:</span>
        </div>
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          formControlName="endDate"
          ngbDatepicker
          #endDatePicker="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="endDatePicker.toggle()"
            type="button"
          >
            Dato
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="submit-bar">
    <button class="btn btn-outline-danger" (click)="cancel()">Annuller</button>
    <button
      class="btn btn-success"
      (click)="editOrdination()"
      [disabled]="!editOrdinationForm.valid"
    >
      Ok
    </button>
  </div>
</div>
