<div class="micro-panel px-4 py-2">
  <p class="h2">Medicin kort</p>
  <div *ngIf="permCitizenEdit || permMedicineEdit" class="top-bar">
    <button
      *ngIf="permCitizenEdit"
      class="btn btn-primary mr-3"
      (click)="editCitizen()"
    >
      Rediger borger
    </button>
    <button
      *ngIf="permMedicineEdit"
      class="btn btn-primary"
      (click)="createOrdination()"
    >
      Opret Ordination
    </button>
  </div>
  <ng-container *ngIf="permMedicineView; else ordinationTableRestricted">
    <table *ngIf="ordinations" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Præparat</th>
          <th scope="col">Dosering</th>
          <th scope="col">Startdato</th>
          <th scope="col">Slutdato</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="ordinations?.length > 0; else noOrdinations">
        <tr *ngFor="let ordination of ordinations">
          <td>{{ ordination.drug.name }}</td>
          <td>{{ ordination.drugAmount }} {{ ordination.drugUnit }}</td>
          <td>{{ ordination.startDate | date: "yyyy-MM-dd" }}</td>
          <td>
            {{
              ordination.endDate
                ? (ordination.endDate | date: "yyyy-MM-dd")
                : "Ingen slutdato"
            }}
          </td>
          <td>
            <a
              *ngIf="permMedicineEdit"
              class="btn btn-primary"
              (click)="editOrdination(ordination.id)"
              >Rediger</a
            >
          </td>
        </tr>
      </tbody>
      <ng-template #noOrdinations>
        <tr>
          <td colspan="3">Der er ingen ordinationer på denne borger</td>
        </tr>
      </ng-template>
    </table>
  </ng-container>
  <ng-template #ordinationTableRestricted>
    <p>Du har ikke adgang til at se ordinationer på borgeren</p>
  </ng-template>
</div>
