language: node_js

node_js:
  - 12

service:
  - docker

cache: yarn
jobs:
  include:
    - stage: test_auth
      script:
      - echo '***** STAGE test_auth *****'
      - cd Auth/auth-service
      - echo '***** TESTING AUTH *****'
      - yarn
      - yarn run test

    - stage: test_bosted
      script:
      - echo '***** STAGE test_bosted *****'
      - cd Bosted/bosted-service
      - echo '***** TESTING BOSTED *****'
      - yarn
      - yarn run test

    - stage: test_medicine
      script:
      - echo '***** STAGE test_medicine *****'
      - cd Medicine/medicine-service
      - echo '***** TESTING MEDICINE *****'
      - yarn
      - yarn run test

    - stage: merge_into_dev
      script:
      - echo '***** STAGE merge_into_dev *****'
      - echo '***** SETUP Kafka *****'
      # start kafka container
      - cd kafka
      - docker-compose up -d --build
      - docker ps -a
      - echo '***** SETUP Auth *****'
      # start auth container
      - echo '***** SETUP Medicine *****'
      # start medicine container
      - echo '***** SETUP Bosted *****'
      # start bosted container

stages:
  - name: test_auth

    if: type = pull_request
  - name: test_bosted

    if: type = pull_request
  - name: test_medicine

    if: type = pull_request
  - name: merge_into_dev

    if: type = push AND branch = dev
