<div class="modal-header">
  <p class="h3">Installationer</p>
</div>
<div class="modal-body">
  <p class="h5">Opret installation</p>
  <form [formGroup]="createInstallationForm">
    <div class="form-group">
      <label for="name">Navn:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <small
        *ngIf="nameControl.touched && nameControl.errors"
        class="form-text text-danger"
        >Navn påkrævet og skal mindst være på 2 tegn
      </small>
    </div>
    <div class="form-group">
      <label for="address">Adresse:</label>
      <input
        type="text"
        class="form-control"
        id="address"
        formControlName="address"
      />
      <small
        *ngIf="addressControl.touched && addressControl.errors"
        class="form-text text-danger"
        >Adresse påkrævet og skal mindst være på 2 tegn
      </small>
    </div>
    <button
      class="btn btn-primary"
      (click)="createInstallation()"
      [disabled]="createInstallationForm.invalid"
      ngbAutoFocus
    >
      Opret
    </button>
  </form>
  <hr />
  <p class="h5">
    Vælg installation
    {{ installation ? "(nuværende: " + installation.name + ")" : "" }}
  </p>
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Navn</th>
        <th scope="col">Adresse</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let installation of installations">
        <td>{{ installation.name }}</td>
        <td>{{ installation.address }}</td>
        <td>
          <button
            class="btn btn-success"
            (click)="chooseInstallation(installation.id)"
          >
            Vælg
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-danger" (click)="dismiss()" ngbAutoFocus>
    Annuller
  </button>
</div>
