<div class="content-panel px-4 py-2">
  <p *ngIf="permCitizenEdit" class="h2">Borger information</p>
  <div class="button-bar">
    <button class="btn btn-primary mr-3" (click)="editCitizen()">
      Rediger borger
    </button>
    <div *ngIf="alert" class="alert-container">
      <ngb-alert [type]="alert.type" [dismissible]="false">
        {{ alert.message }}
      </ngb-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-3 title-column">
      <p>Navn:</p>
      <p>CPR:</p>
    </div>
    <div *ngIf="citizen" class="col-9">
      <p>{{ citizen.firstName }} {{ citizen.lastName }}</p>
      <p>{{ citizen.cpr }}</p>
    </div>
  </div>
</div>
