<div class="content-panel px-4 py-2">
  <p class="h2">Borger information</p>
  <button
    *ngIf="permCitizenEdit"
    class="btn btn-primary mb-3"
    (click)="editCitizen()"
  >
    Rediger borger
  </button>
  <p *ngIf="totalEditing > 1">{{ totalEditing }}</p>
  <div *ngIf="updated" class="alert alert-primary" role="alert">
    Denne borger er blevet opdateret!
  </div>
  <div class="row">
    <div class="col-3 title-column">
      <p>Navn:</p>
      <p>CPR:</p>
    </div>
    <div *ngIf="citizen" class="col-9">
      <p>{{ citizen.firstName }} {{ citizen.lastName }}</p>
      <p>{{ citizen.cpr }}</p>
    </div>
  </div>
</div>
