.menu-panel {
  height: 100%;
  text-align: center;
}

.nav-menu {
  width: 100%;

  & button:active,
  button:focus,
  button:focus:active {
    box-shadow: none;
  }
}

.name-label {
  display: block;
  background-color: #004085;
  padding: .375rem;
  user-select: none;
  color: #fff;
}
