version: "3"

services:
  frontend:
    build: ./bosted-frontend
    image: erikbn/afp20_bosted_frontend
    container_name: BostedFrontend
    environment:
      - YARN-VERSION=${YARN_VERSION}
    ports:
      - "8100:80"
      - "7100:7100"
    depends_on: 
      - service
      - database
  service:
    build: ./bosted-service
    image: erikbn/afp20_bosted_service
    container_name: BostedService
    environment:
      - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE_BOSTED}
      - DB_HOST=database
      - KAFKA_HOST=${KAFKA_HOST}
      - YARN-VERSION=${YARN_VERSION}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - database
  database:
    build: ./bosted-database
    image: erikbn/afp20_bosted_database
    container_name: BostedDatabase
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE_BOSTED}
      - MYSQL_PORT=${DB_PORT}

networks: 
  default:
    external: 
      name: kafka_apache-net
