version: "3"

services:
  frontend:
    build: ./bosted-frontend
    image: bosted_frontend
    container_name: BostedFrontend
    ports:
      - "8100:80"
      - "7100:7100"
    depends_on: 
      - service
      - database
  service:
    build: ./bosted-service
    image: bosted_service
    container_name: BostedService
    environment:
      - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      - DB_HOST=database
      - YARN-VERSION=${YARN_VERSION}
    depends_on:
      - database
  database:
    build: ./bosted-database
    image: bosted_database
    container_name: BostedDatabase
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_PORT=${DB_PORT}
