.content-page {
  height: 100%;
  padding-top: 64px;
  // display: flex;
  // align-items: center;
  // padding-bottom: 32px;

  hr {
    margin: 0;
  }

  .container {
    width: 400px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    padding: 16px;
  }

  .field {
    & > input:only-child,
    & > small {
      margin-bottom: 16px;
    }
  }

  .submit-form {
    display: flex;
    flex-direction: column;
  }
}
