<nav class="navbar navbar-light bg-info top-bar">
  <a class="navbar-brand" [routerLink]="''">Hjem</a>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon"></span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="navbarDropdown"
        style="position: absolute"
      >
        <a class="dropdown-item" [routerLink]="''"> Log ud </a>
      </div>
    </li>
  </ul>
</nav>
