version: "3"

services:
  frontend:
    build: ./medicine-frontend
    image: medicine_frontend
    container_name: MedicineFrontend
    environment:
      - YARN-VERSION=${YARN_VERSION}
    ports:
      - "8200:80"
      - "7200:7200"
    depends_on:
      - service
      - database
  service:
    build: ./medicine-service
    image: medicine_service
    container_name: MedicineService
    environment:
      - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      - DB_HOST=database
      - KAFKA_HOST=${KAFKA_HOST}
      - YARN-VERSION=${YARN_VERSION}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - database
  database:
    build: ./medicine-database
    image: medicine_database
    container_name: MedicineDatabase
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}

networks:
  default:
    external: 
      name: kafka_apache-net
