.register-page {
  width: 500px;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: column;
    padding: 16px;

    form {
      display: flex;
      flex-direction: column;

      .fields {
        display: flex;
        flex-direction: column;

        .field {
          display: flex;
          flex-direction: column;
          margin-bottom: 8px;

          input {
            padding: 8px 0 8px 8px;
          }

          &:last-child {
            margin-bottom: 16px;
          }
        }
      }

      button {
        width: 100px;

        &:disabled {
          opacity: 0.2;
        }
      }
    }
  }
}
